<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title> tên trang </title>
</head>

<body>

	<p>hello world</p>
	{% include "member.html" %}
	{% if user_id != None%}
	<p>đã đăng nhập {{user_id}} -- <a href="sigout" class="">Sigout</a></p>
	{% else %}
	<a href="sigin" class="">Sigin</a> or
	{% endif %}
	<a href="sigup" class="">Sigup</a>

</body>

</html>